*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* NavBar */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    height: 70px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


/* Products */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
}
.col-3{
    flex-basis: 35%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 100%;
}

.rating .fa-star{
    color: #ff9a3b;
}
.rating .fa-star-half{
    color: #ff9a3b;
}



/* Product details */
.single-product{
    margin-top: auto;
}
.single-product .col-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.single-product .col-1 img{
    height: 60%;
}
.col-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-product .col-21{
    text-align: center;
    padding: 40px 20px;
    margin: 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.single-product .col-22{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}

.col-21{
    padding-left: 50px;
    padding-right: 500px;
}
.col-21 input{
    text-align: center;
    max-width: 41px;
    margin: 10px;
}
.col-21 h1{
    font-size: 32px;
    margin: 24px 0;
    color: #555;
}
.col-21 p{
    font-size: 20px;
    padding: 0px;
    color: #555;
}
.col-21 h4{
    font-weight: 400;
    font-size: 20px;
    padding: 0px;
    color: #555;
}
.col-22 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.col-22 h3{
    font-weight: 600;
    color: #555;
    font-size: 18px;
    margin-top: 15px;
}



/* Reviews */
.reviews{
    padding-top: 100px;
}
.reviews .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.reviews .col-3 img{
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.reviews .col-3:hover{
    transform: translateY(-1);
}
.fa-quote-left, .fa-quote-right{
    color: #21550d;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.reviews .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 14px;
    margin-top: 15px;
}

/* Footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex: 1;
    text-align: center;
}
.footer-col-2{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-1 img{
    display: flex;
    height: 70px;
}
ul{
    list-style-type: none;
}
