*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* NavBar */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    height: 70px;
}
.container{
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Registration Form */
form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.main-c{
    display: flex;
    flex-direction: column;
    margin: auto;
}
fieldset {
    display: inline-table;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
    margin-top: 2rem;
    margin-bottom: .5rem;
    padding: 1rem;
    box-shadow: 0 0 10px #999;
    
}
legend {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
}
.btn-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-1 .btn{
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.promo{
    display: inline-table;
    max-width: 10rem;
}

/*labels*/
label {
    display: flex;
    margin-top: 1em;
    padding: 1rem;
    padding-left: 0rem;
}
.checks-label {
    margin-top: 0;
}
label:first-of-type {
    margin-top: 0;
}
input {
    margin: 1px;
    padding: .5em;
    border: solid 1px #999;
}
input[type="email"], input[type="text"] {
    width: 15em;
}
.regi {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: .2rem;
    padding: 1.5rem;
}
.alert-error{
    border: 1px solid red;
    background-color: rgb(241, 155, 155);
}
.btn {
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.5rem;
    background-color: #83648a;
    border-radius: 70%;
    color:rgb(230, 230, 230);
    margin-bottom: 2rem;
    
}
.content-table th, .content-table td{
    padding: 12px 15px;
}



/* Products */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
}
.col-3{
    flex-basis: 35%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 100%;
}

.rating .fa-star{
    color: #ff9a3b;
}
.rating .fa-star-half{
    color: #ff9a3b;
}





/* Reviews */
.reviews{
    padding-top: 100px;
}
.reviews .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.reviews .col-3 img{
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.reviews .col-3:hover{
    transform: translateY(-1);
}
.fa-quote-left, .fa-quote-right{
    color: #21550d;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.reviews .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 14px;
    margin-top: 15px;
}

/* Footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex: 1;
    text-align: center;
}
.footer-col-2{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-1 img{
    display: flex;
    height: 70px;
}
ul{
    list-style-type: none;
}
